<%- include('../Fragmente/header') %>
    <section>
        <h1>404: Oh nu!</h1>
        <h2>Un soricel i-a scapat lui Loki iar acesta a mancat continutul paginii!</h2>
        <h3>Din pacate ce ai cautat nu poate fi gasit..</h3>
    </section>

    <%- include('../Fragmente/footer') %>