<%- include('../Fragmente/header', {pagina: 'galerii'}) %>
    <link rel="stylesheet" href="/Resurse/Css/galerie-animata.css" type="text/css">


    <section class="sectiune-galerie">
        <h2>Galerie Animata</h2>
        <p id="notificare">Aceasta galerie nu este disponibila in varianta mobila a site-ului. Va rugam rescalati fereastra pentru a o face vizibila.</p>
        <div class="galerie-animata">

            <div>
                <figure>
                    <img src="Resurse/Imagini/pisic_ascuns.JPG" alt="A" />
                    <figcaption>1</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_elegant.JPG" alt="B" />
                    <figcaption>2</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_fioros.JPG" alt="A" />
                    <figcaption>3</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_infasat.jpg" alt="B" />
                    <figcaption>4</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_intrigat.JPG" alt="A" />
                    <figcaption>5</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_speriat.jpg" alt="B" />
                    <figcaption>6</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_suparat.JPG" alt="A" />
                    <figcaption>7</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisoias.JPG" alt="B" />
                    <figcaption>8</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisoias2.JPG" alt="A" />
                    <figcaption>9</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/privire_pisicoasa.JPG" alt="B" />
                    <figcaption>10</figcaption>
                </figure>
                <figure>
                    <img src="Resurse/Imagini/pisic_jucaus.jpg" alt="A" />
                    <figcaption>11</figcaption>
                </figure>
            </div>
        </div>


    </section>

    <%- include('../Fragmente/footer') %>