<%- include('../Fragmente/header', {pagina: 'galerii'}) %>
    <link rel="stylesheet" href="/Resurse/Css/galerie.css" type="text/css">

    <section id="galerie">
        <h2>Galerie statica</h2>
        <div class="galerie">
            <div class="imagine1">
                <figure>
                    <img src="/Resurse/Imagini/pisic_elegant.JPG" alt="pisic elegant" style="width:100%">
                    <figcaption>Imagine1 - Un pisoi elegant</figcaption>
                </figure>
            </div>
            <div class="imagine2">
                <figure>
                    <img src="/Resurse/Imagini/pisic_fioros.JPG" alt="pisic fioros" style="width:100%">
                    <figcaption>Imagine2 - Un pisoi fioros</figcaption>
                </figure>
            </div>
            <div class="imagine3">
                <figure>
                    <img src="/Resurse/Imagini/pisic_ascuns.JPG" alt="pisic ascuns" style="width:100%">
                    <figcaption>Imagine3 - Un pisoi ascuns</figcaption>
                </figure>
            </div>
            <div class="imagine4">
                <figure>
                    <img src="/Resurse/Imagini/pisic_suparat.JPG" alt="pisic suparat" style="width:100%">
                    <figcaption>Imagine4 - Un pisoi suparat</figcaption>
                </figure>
            </div>
            <div class="imagine5">
                <figure>
                    <img src="/Resurse/Imagini/privire_pisicoasa.JPG" alt="pisic privitor" style="width:100%">
                    <figcaption>Imagine5 - Privire de pisica</figcaption>
                </figure>
            </div>
            <div class="imagine6">
                <figure>
                    <img src="/Resurse/Imagini/pisoias.JPG" alt="pisic gata de atac" style="width:100%">
                    <figcaption>Imagine6 - Un pisoi gata de atac</figcaption>
                </figure>
            </div>
            <div class="imagine7">
                <figure>
                    <img src="/Resurse/Imagini/pisoias2.JPG" alt="pisic plictisit" style="width:100%">
                    <figcaption>Imagine7 - Un pisoi plictisit</figcaption>
                </figure>
            </div>
            <div class="imagine8">
                <figure>
                    <img src="/Resurse/Imagini/pisic_intrigat.JPG" alt="pisic intrigat" style="width:100%">
                    <figcaption>Imagine8 - Un pisoi intrigat</figcaption>
                </figure>
            </div>
            <div class="imagine9">
                <figure>
                    <img src="/Resurse/Imagini/pisic_jucaus.jpg" alt="pisic jucaus" style="width:100%">
                    <figcaption>Imagine9 - Un pisoi jucaus</figcaption>
                </figure>
            </div>
            <div class="imagine10">
                <figure>
                    <img src="/Resurse/Imagini/pisic_speriat.jpg" alt="pisic speriat" style="width:100%">
                    <figcaption>Imagine10 - Un pisoi speriat</figcaption>
                </figure>
            </div>
        </div>
    </section>


    <%- include('../Fragmente/footer') %>