<%- include('../Fragmente/header', {pagina: 'ganduri'}) %>
    <link rel="stylesheet" href="/Resurse/Css/ganduri.css" type="text/css">

    <section id="ganduri">
        <h2>Ganduri pentru fani..</h2>
        <div class="ganduri">
            <div class="gand1">
                <p>Duminica, 9 septembrie 2020</p><br> Am pierdut ultima jucarie cumparata.. nu imi amintesc unde am pus-o :(
            </div>
            <div class="gand2">
                <p>Vineri, 6 septembrie 2020</p><br> M-am jucat non-stop pentru ca am primit de curand o jucarie noua :D

            </div>
            <div class="gand3">
                <p>Luni, 20 aprilie 2020</p> <br> Astazi am dormit toata ziua!
            </div>
            <div class="gand4">
                <p>Miercuri, 1 ianuarie 2020</p><br> Un an nou fericit! Va urez pisiceala pentru tot anul ce urmeaza!
            </div>
    </section>



    <%- include('../Fragmente/footer') %>