<%- include('../Fragmente/header', {pagina: 'acasa'}) %>
    <link rel="stylesheet" href="/Resurse/Css/tabel.css" type="text/css">
    <link rel="stylesheet" href="/Resurse/Css/subtitles.css" type="text/css">
    <link rel="stylesheet" href="/Resurse/Css/counter.css" type="text/css">




    <!--inceput pagina-->
    <section class="light" id="despre">
        <h2>Cateva lucruri despre mine...</h2>

        <picture>
            <source media="(min-width:768px)" srcset="/Resurse/Imagini/pisoias.JPG">
            <source media="(min-width:576px)" srcset="/Resurse/Imagini/pisoias2.jpg">
            <img src="/Resurse/Imagini/pisic_mic.png" alt="un pisoi desenat" title="o pisica" style="width: 100%;">
        </picture>

        <p>
            Buna!
        </p>
        <p>
            Numele meu este <b>Loki</b> si dupa cum probabil ti-ai dat seama din titlu, sunt un motan, mai exact fac parte din specia <i>felis catus.</i>

        </p>
        <p>
            Desi nu sunt o pisica de rasa consider ca sunt tare frumusel. Ma etalez cu o blanita neagra si niste ochisori verzi-galbui care te vor cuceri.
        </p>
        <p>
            M-am nascut pe <time datetime="2018-11-15 12:00">15.11.2018</time>. In momentul de fata am aproape 2 ani, deci sunt inca foarte jucaus!
            <br> Imi place sa imi trezesc stapanii aproape in fiecare zi la rasarit pentru a-mi oferi atentia bine meritata.
            <br>
            <strong>Atentie!</strong> Daca ma superi te zgarii!

        </p>

        <br>
        <aside>Daca te-am convins si vrei sa ma cunosti mai bine te invit sa vizitezi sectiunile de fotografii si videoclipuri.
        </aside>

        <br><br>
        <div class="text-center">
            <i class="fa fa-paw" aria-hidden="true"></i>
        </div>
    </section>

    <section class="light" id="tabel">
        <h2>Programul zilnic al lui Loki</h2>


        <div class="table-container">
            <table>
                <caption>Programul zilnic al motanului Loki</caption>

                <thead>

                    <tr>
                        <th colspan="2">Interval orar</th>
                        <th>Activitatea</th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>05:00</td>
                        <td>06:00</td>
                        <td>Mieunat pentru a trezi stapanii</td>

                    </tr>
                    <tr>
                        <td>06:00</td>
                        <td>07:00</td>
                        <td>Micul Dejun</td>
                    </tr>
                    <tr>
                        <td>07:00</td>
                        <td>08:00</td>
                        <td rowspan="4">Alergat soricei de jucarie</td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>09:00</td>

                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>10:00</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>11:00</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>12:00</td>
                        <td>Servirea pranzului</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>13:00</td>
                        <td rowspan="5">Somn de pranz</td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>15:00</td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td>16:00</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>17:00</td>
                    </tr>
                    <tr>
                        <td>17:00</td>
                        <td>18:00</td>
                        <td>Servirea cinei</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>19:00</td>
                        <td rowspan="2">Runda 2 de alergat jucarii</td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>20:00</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3">Concluzie: restul zilei - leneveala</td>
                    </tr>
                </tfoot>

            </table>
        </div>

        <br><br>
        <div class="text-center">
            <i class="fa fa-paw" aria-hidden="true"></i>
        </div>

    </section>

    <section class="light" id="video">
        <h2>Videoclipuri.. iar la final, o surpriza!</h2>
        <br>
        <p>La ce ma gandesc cand ma joc</p>
        <video width="480" controls>
                <source src="/Resurse/Video/video1.mp4" type="video/mp4">
                <track default src="/Resurse/Video/subtitles.vtt" kind="captions" srclang="ro">
            </video>
        <br>
        <p>Sunt un pisoias</p>
        <video width="480" controls>
                <source src="/Resurse/Video/video2.mp4" type="video/mp4">
            </video>
        <br>
        <p>In sfarsit, un inamic vrednic</p>
        <video width="480" controls>
                <source src="/Resurse/Video/video3.mp4" type="video/mp4">
            </video>
        <br>
        <p>Surpriza..un tors de pisic</p>
        <audio controls>
                <source src="/Resurse/tors.wav" type="audio/wav">
            </audio>
        <br><br>
        <div class="text-center">
            <i class="fa fa-paw" aria-hidden="true"></i>
        </div>

    </section>

    <%- include('../Fragmente/footer') %>