@mixin mobile {
    @media screen and (max-width: 578px) {
        @content;
    }
}

@mixin tableta {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin umbre {
    transition: background-color 500ms, text-shadow 500ms;
    text-shadow: 0px -2em 2px darkgray;
    overflow: hidden;
    &:hover {
        text-shadow: 0px 0px 2px darkgray;
        background-color: rgba(105, 105, 105, 0.3);
    }
}

.avatar{
    height:auto;
    width:30px;
}

.navigare {
    background-color: black;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.listap {
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    @include mobile {
        max-height: 0;
        overflow: hidden;
    }
}

.elemp {
    display: inline-block;
    padding: 0;
    margin: 0px;
    color: white;
    font-size: 1.5em;
    &.activa .textp {
        color: teal;
    }
    @include mobile {
        display: block;
    }
}

@for $i from 1 through 2 {
    .elems#{$i} {
        display: block;
        width: 108px+($i - 1)*(196 - 108);
        @include mobile {
            width: 100%;
        }
    }
}


input.texts{
    background-color: rgba(105, 105, 105, 0.3);
    width: 105px;
    text-decoration: none;
    text-align: center;
    &:hover{
        text-decoration: none;
    }
}

.texts {
    color: white;
    display: block;
    padding: 10px 0;
    transition: text-decoration 500ms;
    text-decoration: underline solid transparent;

    &:hover {
        text-decoration: underline solid currentColor;
        background-color: rgba(105, 105, 105, 0.3);
        text-align: center;
    }
}

.textp {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    @include umbre;
}

nav {
    >input[type=checkbox] {
        display: none;
    }
    >label {
        display: none;
        color: white;
        user-select: none;
        padding: 10px;
        @include mobile {
            display: block;
        }
    }
}

.listas {
    position: absolute;
    padding: 0;
    @include mobile {
        position: static;
    }
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
    background-color: black;
}

.elemp:hover .listas {
    max-height: 200px;
}

@include mobile {
    nav>input[type=checkbox]:checked+ul {
        max-height: 1000px;
        .textp {
            transform: scaleX(1);
        }
    }
    .textp {
        text-shadow: none;
        transition: transform 500ms;
        transform: scaleX(0);
    }
}

@include tableta {
    .hidden-tablet {
        display: none;
    }
    .elemp,
    .elems {
        font-size: 1em;
    }
}